.expenselist-container {    
    padding: 30px 60px;
    display: flex;
    flex-direction: column;    
    gap: 20px;
    margin-top: 40px;
    border-radius: 10px;    
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);    
    background-color: #fff;
    margin-bottom: 60px;    
}

.list-title{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color: #4B5563
}

